*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f0f3f5, #e6ebf0);
}
a{
    text-decoration: none;
    color: #07172e;
    font-family: 'Manrope-SemiBold';
    font-size: 14px;
}
h1, h2, h3{
    font-family: 'Manrope-Bold';
    color: #07172e;
    margin: 0;
}
h2{
    font-size: 42px;
}
h4{
    font-family: 'Manrope-SemiBold';
    font-size: 16px;
}
p{
    font-size: 18px;
    color: #3c4148;
    font-family: 'Manrope-Regular';
}
button{
    font-family: 'Manrope-SemiBold';
    font-size: 16px;
    border-radius: 6px;
    border: 0;
    width: 252px;
    height: 58px;
    background-color: #3586ff;
    color: white;
    transition: 0.5s;
}
button:hover{
    background-color: #3586ff00;
    color: #3586ff;
    transition: 0.5s;
}

.line-btn{
    width: 258px;
    height: 64px;
    border-radius: 6px;
    border: 1px solid #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../fonts/Manrope-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/Manrope-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('../fonts/Manrope-SemiBold.ttf');
    font-style: normal;
    font-weight: normal;
}

.container{
    max-width: 1900px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a{
   margin: 0 20px;
   border-radius: 6px;
   border: 1px solid #07172e00;
   padding: 5px 10px;
   transition: 0.5s;
}
.navigation a:hover{
    border: 1px solid #07172e;
    transition: 0.5s;
}

.icons a{
    border-radius: 50;
}

.welcom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}

.main-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h1{
    font-size: 52px;
}

.main-button{
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

/* courses */
.courses{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link-cours{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:  70px 0;
}

.link-cours a{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 10px;
}

.link-cours p{
    font-family: 'Manrope-SemiBold';
    color: #07172e;
    margin: 0;
}

/* try free */
.try-free{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free-text{
    width: 90%;
    background: url('../img/5.jpg');
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 100px 0;
    padding: 150px 100px;
}

.try-free p{
    width: 55%;
}
.try-free .line-btn{
    margin: 30px 0;
}

/* stretching */
.stretching{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.first-str{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.str-img{
    width: 47%;
    border-radius: 15px;
}

.text-str{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.time-st{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.time-st img{
    margin-right: 5px;
}

.rating, .time-time{
    border-radius: 10px;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.star, .week, .tren{
    display: flex;
}

.prise{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.str-btn{
    width: 100%;
    display: flex;
    margin: 60px 0;
}

.str-btn button{
    color: #07172e;
    background-color: white;
    width: 160px;
    height: 48px;
    margin-right: 30px;
}
.str-btn button:hover{
    background-color: #3586ff;
    color: white;
}

.text-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-card p{
    width: 28%;
}

.coach-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
    text-align: center;
}

.coach-card h4{
    font-size: 16px;
    margin: 3px;
}
.coach-card p{
    font-size: 12px;
    width: 80%;
    margin: 0;
}

.coach{
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
/* about */
.bg-about{
    background-color: #f1f4f8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
.about{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 0;
}

.text-about{
    width: 45%;
}
.about img{
    width: 50%;
    border-radius: 20px;
}
.text-about h2{
    margin-bottom: 30px;
}
.text-about .line-btn{
    margin-top: 50px;
}

/* how */
.how{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}

.how-blocks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}
.how-block{
    width: 20%;
}
.how-num{
    background-color: #3586ff;
    border-radius: 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-num h4{
    color: white;
    font-family: 'Manrope-Regular';
    font-size: 14px;
    margin: 7%;
}
.how-text h3{
    font-size: 18px;
    margin: 5% 0;
}
.how-text p{
    font-size: 16px;
    margin: 0;
}

/* form */
.form{
    width: 90%;
    background: linear-gradient(to right, #e7ebf0, #f0f3f5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 0;
}
.text-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form p{
    font-size: 14px;
}
.name-tel{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-tel p, .mail p{
    margin: 0;
}

.name, .tel{
    width: 22%;
    margin-bottom: 50px;
}
.name input, .tel input{
    background-color: #ffffff00;
    outline: 0;
    border-radius: 6px;
    width: 90%;
    height: 100%;
    border: 1px solid #d9dee2;
}

.mail{
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mail input{
    width: 95%;
    height: 54px;
    background-color: #ffffff00;
    outline: 0;
    border-radius: 6px;
    border: 1px solid #d9dee2;
}

.objective{
    width: 44%;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.r-btn{
    display: flex;
    justify-content: flex-start;
}

.sv, .nm, .dc{
    margin-right: 20px;
}

form label{
    font-family: 'Manrope-Regular';
    font-size: 14px;
}

.condition{
    width: 44%;
}

form .line-btn{
    margin-top: 70px;
}

footer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
footer p{
    font-size: 12px;
}

.net{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a p{
    border-bottom: 1px dotted #07172e;
}